/*Write your custom code here.*/

.typed-cursor{
  color:white!important;
}

.dropdown-item:hover{
  color:#3b65c4!important;
}

.active{
  color:#3b65c4!important;
}

.dropdown-menu{
  border-top-color:#3b65c4!important;
}

button.bg-primary:hover{
  background: #3b65c4!important;
}

@media only screen and (max-width: 991px) {
  .nav-pill{
    background-color: #3b65c4!important;
  }
  .active{
    color:white!important;
    background-color: #3b65c4!important;
  }
  .dropdown-item:hover {
    color: white!important;
    background-color: #3b65c4!important;
  }
  .header-nav-main a{
    color: #3b65c4!important;
  }
  button.bg-primary:focus {
    background-color: #3b65c4!important;
  }
}
.scroll-to-top{
  background-color:#3b65c4!important;
}

.header-btn-collapse-nav {
  background: #3b65c4!important;
}

.anim-link-2.anim-link-2-primary {
  background-image: linear-gradient(to right,#3b65c4 0%,#3b65c4 100%);
}

.text-primary{
  color:#3b65c4!important;
}

.text-primary2{
  color:#3b65c4!important;
}

.bg-primary{
  background-color:#3b65c4!important;
}

.btn-primary{
  background-color:#3b65c4!important;
  border-color:#3b65c4!important;
}

.home-backimg-custom{
   width:400px;
   height:400px;
}

.header-transparent-custom{
  background: none!important;
  background-color: #FFFFFF7f!important;
}

html.sticky-header-reveal.sticky-header-active #header .header-transparent-custom {
  background: none!important;
  background-color: white!important;
}
=======
.navbar-custom{
  position:fixed!important;
  top:0px;
  width: 100%;
}

.navbar-tabs-custom{
  font-size: 16px!important;
  font-weight: 400!important;
}

.navbar-tabs-custom:focus{
  color:#3b65c4!important;
}

.first-section-custom{
  padding-top:5rem!important;
}

.map-section-custom{
  padding: 1rem 0rem 8rem;
}

.home-background-custom{
   margin-top:0rem;
   margin-bottom:2rem;
   padding-top:2rem!important;
   padding-bottom:3rem;
}

.home-backimg-custom{
   width:300px;
   height:300px;
}

.backspace-block-custom{
  height: 340px;
}


.header-custom{
  top:15px!important;
}

.social-media-custom{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-custom{
  padding-top: 64px!important;
  padding-bottom: 48px!important;
}

.home-partners-custom{
  padding-top: 4rem!important;
  padding-bottom: 4rem!important;
}

.home-aboutus-custom{
  padding-bottom: 3rem!important;
}

.home-stats-custom{
  margin-bottom: 7rem!important;
  padding-bottom: 4rem!important;
}

.home-statsicons-custom{
  color: #77838f;
  padding-bottom: 12px;
}

.home-carouselformat-custom{
  margin-bottom:10rem!important;
}

.home-carousel-custom{
  padding-top:120px;
}

.home-chevronpos-custom{
  position: absolute;
  top: 120px;
}

.home-email-custom{
  line-height: 24px;
}

.home-emailformp-custom{
  margin-bottom: 4px!important;
}

.home-emailform-custom{
  margin-left: -4px;
}

.home-emailform2-custom{
  border-radius: 1rem!important;
}


.aboutus-bg-custom{
  min-height: 750!important;
}

.aboutus-infoblock-custom{
  padding-top: 7rem!important;
  padding-bottom: 4rem!important;
  margin-top: 4rem!important;
  margin-bottom: 0rem!important;
}

.aboutus-stats-custom{
  padding:4rem 0rem;
  margin:auto;
}

.aboutus-statstext-custom{
  padding:0rem 2rem 6rem;
  margin:auto;
}

.officer-bio-custom{
   padding:1.25rem .5rem;
}
