.navbar-tabs-custom{
  font-size: 16px!important;
  font-weight: 400!important;
}

.first-section-custom{
  margin-top:3rem;
  padding-top:4rem;
}

.home-background-custom{
   margin-top:0rem;
   margin-bottom:2rem;
   padding-top:4rem;
   padding-bottom:5rem;
}

.home-backimg-custom{
   width:400px;
   height:400px;
}

.header-transparent-custom{
  background: none!important;
  background-color: #FFFFFF7f!important;
}

html.sticky-header-reveal.sticky-header-active #header .header-transparent-custom {
  background: none!important;
  background-color: white!important;
}

.header-custom{
  top:15px!important;
}

.social-media-custom{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-custom{
  padding-top: 64px!important;
  padding-bottom: 48px!important;
}

.home-partners-custom{
  padding-top: 10rem!important;
  padding-bottom: 4rem!important;
}

.home-aboutus-custom{
  padding-bottom: 7rem!important;
}

.home-stats-custom{
  margin-bottom: 7rem!important;
  padding-bottom: 4rem!important;
}

.home-statsicons-custom{
  color: #77838f;
  padding-bottom: 12px;
}

.home-carouselformat-custom{
  margin-bottom:10rem!important;
}

.home-carousel-custom{
  padding-top:120px;
}

.home-chevronpos-custom{
  position: absolute;
  top: 120px;
}

.home-email-custom{
  line-height: 24px;
}

.home-emailformp-custom{
  margin-bottom: 4px!important;
}

.home-emailform-custom{
  margin-left: -4px;
}

.home-emailform2-custom{
  border-radius: 1rem!important;
}


.aboutus-bg-custom{
  min-height: 750!important;
}

.aboutus-infoblock-custom{
  padding-top: 7rem!important;
  padding-bottom: 4rem!important;

  margin-top: 4rem!important;
  margin-bottom: 0rem!important;
}
